HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

firebase.json
test-firebase.json
recaptcha.json
test-recaptcha.json
*.properties
logback-local.xml
logback-test.xml
logback-product.xml
datasets/

clean.sql
init.sql
reset.sql

미래의준서에게.md
약관.md
config_keys.md
update_secrets.sh